Host bastion
    HostName 10.30.0.10
    User alpine-admin
    IdentityFile ~/.ssh/bastion_key

# Tous les hosts des deux réseaux du lab passent par le bastion
Host k3s-* load-srvs zabbix-srv wazuh-srv prometheus-srv grafana-srv ansible-srv 10.10.0.* 10.20.0.*
    ProxyJump bastion
    IdentityFile ~/.ssh/lab_key

# Alias nommés par host
Host k3s-srv-1
    HostName 10.10.0.11
Host k3s-srv-2
    HostName 10.10.0.12
Host k3s-srv-3
    HostName 10.10.0.13
Host k3s-db
    HostName 10.10.0.20
Host k3s-agent-1
    HostName 10.10.0.31
Host k3s-agent-2
    HostName 10.10.0.32
Host k3s-agent-3
    HostName 10.10.0.33
Host load-srvs
    HostName 10.10.0.10
    User alpine-admin
Host zabbix-srv
    HostName 10.20.0.10
    User zabbix-admin
Host wazuh-srv
    HostName 10.20.0.11
    User wazuh-admin
Host prometheus-srv
    HostName 10.20.0.12
    User prometheus-admin
Host grafana-srv
    HostName 10.20.0.13
    User grafana-admin
Host ansible-srv
    HostName 10.20.0.125
    User alpine-admin

# User par défaut pour les hosts k3s sans User explicite
Host k3s-*
    User k3s-admin
